<div class="container">

   <br><h1>All Doggies</h1>
    <%= form_tag dogs_path, method: :get do %>
    <div class="search-form-control form-group">
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a dog"
    %>
    <%= submit_tag "Search", class: "btn btd-yels" %>
    </div>
    <% end %>

    <br />
  <div class="index">
    <div class="index-dog">
      <div class="cardsf">
          <% @dogs.each_with_index do |dog, i| %>
            <div class="card-dog">
              <%= cl_image_tag dog.photo, height: 200, width: 250, crop: :fill %>


                <% if @stars[i] %>
                  <% @stars[i].round(0).to_i.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                <% end %>

                <% if current_user %>
                  <%= link_to dog.name.upcase, dog_path(dog), class: "links-sessions" %>
                <% else %>
                  <%= link_to dog.name.upcase, preview_dog_path(dog), class: "links-sessions" %>
                <%end%>
                <% if current_user %>
                  <% if policy(dog).edit? %>
                    <br><%= link_to "EDIT", edit_dog_path(dog), class:"btd-yels"  %>
                  <% end %>
                  <% if policy(dog).destroy? %>
                    <%= link_to "REMOVE", dog_path(dog),
                      method: :delete,
                      data: { confirm: "Are you sure you want to delete this dog?" }, class:"btd-yels" %>
                  <% end %>
                <% end %>
            <br><br></div>
          <% end %>
      </div>
    </div>

    <div class="find">

<!--       <br><h1>Find a Doggie near you !</h1> -->

      <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>

    </div>

  </div>
</div>
