<div class="card-login">
  <h2>ADD <br> A DOGGIE</h2>
  <%= simple_form_for(@dog) do |f| %>
    <%= f.error_notification %>


  <div class="form-inputs">
    <%= f.input :name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "name" }%>

    <%= f.input :address,
                required: true,
                autofocus: true,
                id: 'dog_address',
                input_html: { autocomplete: "address" }%>

    <%= f.input :description,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "description" }%>

    <%= f.input :race,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "race" }%>

    <%= f.input :size,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "size" }%>

    <%= f.input :available,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "available" }%>

    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Add Dog", class: "btd-yel" %>
  </div>
<% end %>
  </div>
