
<div class="container">


    <div class="card-show">
      <h1><%= @dog[:name] %></h1>
      <%= cl_image_tag "v1565862410/chowchow_eghzds.jpg", width: 200, height: 150, crop: :fill %>
      <br>
      <div class= "details">

        <div class= "description">
          <h3>Breed:</h3>
          <p><%= @dog[:race] %></p>
          <h3>Size:</h3>
          <p><%= @dog[:size] %></p>
          <h3>Description:</h3>
          <p><%= @dog[:description] %></p>
        </div>

        <div class= "dog-owner">
          <h3>Owner:</h3>
          <p><%= @owner[:name] %> <%= @owner[:lastname] %></p>
          <h3>Contact:</h3>
          <p><%= @owner[:email] %></p>
          <%= link_to 'Book this dog now !', new_dog_booking_path(@dog), class:"btd-yel" %>
        </div>
      </div>
    </div>
</div>

<% @reviews.each_with_index do |review, i| %>
  <p>Author: <%= @authors[i][:name] %> <%= @authors[i][:lastname] %></p>
  <p>Rating: <%= review[:rating] %></p>
  <p>Description: <%= review[:description] %></p>
<% end %>

<p>STARS OF THE DOG</p>
<%= @stars ? @stars : "no rating yet" %>

