<div class="container">
  <h1><%=@dog.name.capitalize%>'s Profile</h1>

  <div class="profile-page">

    <div class="card-show">
      <%= cl_image_tag @dog.photo, width: 200, height: 150, crop: :fill %>
      <br>
       <div class="fullspace">
         <%= link_to "BOOK #{@dog.name.upcase}", new_dog_booking_path(@dog), class: "btd-yel-lg" %>
       </div>
      <div class= "profile-grid">

        <div class= "description">
          <h3>Breed:</h3>
          <p><%= @dog[:race] %></p>
          <h3>Size:</h3>
          <p><%= @dog[:size] %></p>
          <h3>Description:</h3>
          <p><%= @dog[:description] %></p>
        </div>

        <div class= "dog-owner">
          <h3>Owner:</h3>
          <p><%= @owner[:name] %> <%= @owner[:lastname] %></p>
          <h3>Contact:</h3>
          <p><%= @owner[:email] %></p>
        </div>

      </div>


    </div>

    <div class= "map-bookings">

      <div class="map">
        <div
        id="map"
        style="width: 100%;
        height: 100%;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
      </div>

      <div class= "bookings">
          <h3><%= "#{@dog.name.capitalize}'s Bookings"%></h3>
          <% @bookings.each do |booking| %>
            <p><%= booking[:date] %></p>
            <p><%= booking[:description] %></p>
            <br>
          <% if policy(booking).show? %>
            <%= link_to 'more details on this booking', booking_path(booking), class: "links-sessions" %>
          <% end %>
          <br>
          <% end %>
      </div>

    </div>

  </div>
</div>

<% @reviews.each_with_index do |review, i| %>
  <p>Author: <%= @authors[i][:name] %> <%= @authors[i][:lastname] %></p>
  <p>Rating: <%= review[:rating] %></p>
  <p>Description: <%= review[:description] %></p>
<% end %>

<%= link_to 'REVIEW THE DOG', new_dog_review_path(@dog) %>

<p>STARS OF THE DOG</p>
<%= @stars ? @stars.round(2) : "no rating yet" %>
