<div class="container">

  <div class="profile-page">

    <div class="card-show">
      <h1><%= @dog[:name] %></h1>
      <%= cl_image_tag @dog.photo, width: 200, height: 150, crop: :fill %>
      <br>
      <div class= "details">

        <div class= "description">
          <h3>Breed:</h3>
          <p><%= @dog[:race] %></p>
          <h3>Size:</h3>
          <p><%= @dog[:size] %></p>
          <h3>Description:</h3>
          <p><%= @dog[:description] %></p>
        </div>

        <div class= "dog-owner">
          <h3>Owner:</h3>
          <p><%= @owner[:name] %> <%= @owner[:lastname] %></p>
          <h3>Contact:</h3>
          <p><%= @owner[:email] %></p>
        </div>

      </div>


    </div>

    <div class= "book-bookings">
      <%= link_to "BOOK #{@dog.name.upcase}", new_dog_booking_path(@dog), class: "btd-yel-lg" %>

      <div class= "bookings">
          <h3>Bookings</h3>
          <% @bookings.each do |booking| %>
            <p><%= booking[:date] %></p>
            <p><%= booking[:description] %></p>
            <br>
          <%= link_to 'more details on this booking', booking_path(booking), class: "bdt-yw" %>
          <br>
          <% end %>
      </div>

    </div>

  </div>
</div>
