<div class="card-login">
  <h2>BOOKING DETAILS</h2>
  <div class="form-inputs">
    <%= simple_form_for [@dog, @booking] do |b| %>
    <%= b.input :description %>
    <%= b.input :startdate, as: :date, html5: true %>
    <%= b.input :enddate, as: :date, html5: true %>
  </div>
  <div class="form-actions">
    <%= b.button :submit, "BOOK #{@dog.name.upcase}", class: 'btd-ind' %>
  </div>
  <% end %>
</div>




