<% if policy(@booking).show? %>
<h1>Booking for <%= link_to @dog[:name], dog_path(@dog) %> and <%= link_to @user[:name], user_path(@user) %></h1>

<%= cl_image_tag @dog.photo, width: 200, height: 150, crop: :fill %>
<p>Description: <%= @booking[:description] %></p>
<p>Date: <%= @booking[:date] %></p>
<p>Confirmed?: <%= @booking[:confirmed] ? 'yes' : 'no' %></p>

<%= link_to "Back to #{@dog[:name]}'s page", dog_path(@dog) %>
<% end %>

<!--
  TO ADD LATER
<p>Reviews</p> -->
