<div class="container">
<h1>My Bookings</h1>
<% @bookings.each_with_index do |booking, i| %>

  <div class="card-show">
      <div class= "details">

        <div class= "description">
          <h3>Date:</h3>
          <p><%= booking[:date] %></p>
          <h3>Description:</h3>
          <p><%= booking[:description] %></p>
          <h3>Confirmed:</h3>
          <p><%= booking[:confirmed] ? 'yes' : 'no' %></p>
          <h3>Paid:</h3>
          <p><%= booking[:payed] ? 'yes' : 'no' %></p>
        </div>

        <div class= "book-actions">
        <%= link_to "#{booking.dog.name.upcase}'S PROFILE", dog_path(@dogs[i][:id]), class:"btd-yel" %><br><br>
        <%= link_to 'DELETE THIS BOOKING', booking_path(booking), method: :delete,
        data: { confirm: "Are you sure?" }, class:"btd-ind" %>
        </div>

      </div>
    </div>
    <%end%>
  </div>
