<div class="container">
<br><h1>My Playdates <i class="fas fa-paw"></i> </h1>

<% @s.each_with_index do |booking, i| %>

 <% if policy(booking).show? %>
  <br><div class="card-user-bg">
    <%= cl_image_tag @dogs[i].photo, width: 200, height: 150, crop: :fill %>
      <div class="user-description">
          <h2>Playdate with <%= link_to @dogs[i][:name], dog_path(@dogs[i][:id]), class:"links-sessions" %></h2>
          <h3>When:</h3>
          <p><%= booking[:startdate].strftime("From: %d %B %Y at %Hh%M") %></p>
          <p><%= booking[:enddate].strftime("To: %d %B %Y at %Hh%M") %></p>
          <p><%= booking[:date] %></p>
          <h3>Playdate description:</h3>
          <p><%= booking[:description] %></p>

          <h3><%= booking[:confirmed] ? 'Booking confirmed !' : 'To be confirmed by owner ' + booking.dog.owner.name + booking.dog.owner.lastname %></h3>
        <br><%= link_to "#{@dogs[i][:name].upcase}'S PROFILE", dog_path(@dogs[i][:id]), class:"btd-yel" %>
        <% if policy(booking).destroy? %>
          <%= link_to 'DELETE THIS BOOKING', booking_path(booking), method: :delete,
          data: { confirm: "Are you sure?" }, class:"btd-ind" %>
        <% end %>

         <%= link_to "Renter's profile", user_path(@renter[i][:id]), class:"btd-yel" %>
      </div>

  </div>
  <% end %>
<% end %>
</div>








