<div class="container">
<br><h1>My Profile</h1>
<% if policy(@user).show? %>
   <div class="card-user">
    <%= cl_image_tag @user.photo, crop: :fill, id: "user", gravity: :face %>
      <div class="user-description">
        <h2>
          <%= @user.name %> <%= @user.lastname %>
        </h2>
          <p><%= @user.email %></p>
          <p><%= @user.address %></p>
          <%= link_to 'Add a new dog', new_dog_path, class: "btd-yels" %>
      </div>
    </div>
  <br><br>
  <div class="profile-grid">
    <h3>My Doggies</h3>
    <h3>My Bookings</h3>
  </div>

  <div class="profile-grid">

    <div class="card-user-dogs">
      <div class="cardsf">
        <% @dogs.each_with_index do |dog, i| %>
          <div class="card-dog">
            <%= cl_image_tag dog.photo, width: 200, height: 150, crop: :fill %>

                <% if @stars[i] %>
                  <% @stars[i].round(0).to_i.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                <% end %>

            <p><%= link_to dog[:name].upcase, dog_path(dog), class: "links-sessions" %></p>
            <%= link_to "EDIT", edit_dog_path(dog), class:"btd-yels"  %>
            <%= link_to "REMOVE", dog_path(dog),
                method: :delete,
                data: { confirm: "Are you sure you want to delete this dog?" }, class:"btd-yels" %><br><br>
          </div>
        <% end %>
      </div>
    </div>



    <div class="card-user-dogs">
      <div class="cardsf">
        <% @bookings.each do |booking| %>
        <div class="card-book">
          <h3> <%=  booking.dog.name.upcase%> <i class="fas fa-paw"></i> </h3>
          <h4> <%= booking[:description] %></h4>
            <p><%= booking.startdate.strftime("From %m/%d/%Y at %H:%I") %>
            <br><%= booking.enddate.strftime("To %m/%d/%Y at %H:%I") %></p>
          <%= link_to 'MORE DETAILS', booking_path(booking), class: "btd-yels" %>
        </div>
        <% end %>
      </div>
    </div>

  </div>

<% end %>
</div>


