<div class="container">
<h1>My Profile</h1>
   <div class="card-user">
    <%= cl_image_tag @user.photo, width: 75, crop: :fill %>
      <div id="user-description">
        <h3>
          <%= @user.name %> <%= @user.lastname %>
        </h3>
          <p><%= @user.email %></p>
          <p><%= @user.address %></p>
          <h1 class="text-center"><%= link_to 'Add a new dog', new_dog_path %></h1>
      </div>
    </div>


</div>