<div class="container">
<h1>My Profile</h1>
<% if policy(@user).show? %>
   <div class="card-user">
    <%= cl_image_tag @user.photo, crop: :fill, id: "user" %>
      <div id="user-description">
        <h3>
          <%= @user.name %> <%= @user.lastname %>
        </h3>
          <p><%= @user.email %></p>
          <p><%= @user.address %></p>
          <%= link_to 'Add a new dog', new_dog_path, class: "links-sessions" %>
      </div>
    </div>

  <div class="card-user">
    <h1>My dogs</h1>
    <% @dogs.each do |dog| %>
      <%= link_to dog[:name], dog_path(dog), class: "links-sessions" %>
      <%= cl_image_tag dog.photo, width: 200, height: 150, crop: :fill %>
      <% if policy(dog).edit? %>
        <%= link_to 'Edit dog', edit_dog_path(dog), class:"btd-ind" %>
      <% end %>
      <% if policy(dog).destroy? %>
        <%= link_to 'Remove dog', dog_path(dog), method: :delete,
        data: { confirm: "Are you sure?" }, class:"btd-ind" %>
      <% end %>
    <% end %>
  </div>


  <div class="card-user">
    <h1>My bookings</h1>
    <% @bookings.each do |booking| %>
      <% if policy(booking).show? %>
        <p>Date: <%= booking[:date] %></p>
        <p>Description: <%= booking[:description] %></p>
        <%= link_to 'More details', booking_path(booking), class: "links-sessions" %>
        <% if policy(booking).destroy? %>
          <%= link_to 'Delete this booking', booking_path(booking), method: :delete,
          data: { confirm: "Are you sure?" }, class:"btd-ind" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
</div>


