<% if policy(@user).show? %>
<div class="container">
<h1>My Profile</h1>
   <div class="card-user">
    <%= cl_image_tag @user.photo, width: 75, crop: :fill %>
      <div id="user-description">
        <h3>
          <%= @user.name %> <%= @user.lastname %>
        </h3>
          <p><%= @user.email %></p>
          <p><%= @user.address %></p>
          <h1 class="text-center"><%= link_to 'Add a new dog', new_dog_path %></h1>
      </div>
    </div>

  <div class="card-user">
    <h1>My dogs</h1>
    <% @dogs.each do |dog| %>
      <p><%= link_to dog[:name], dog_path(dog) %></p>
      <%= image_tag(dog[:image]) %>
    <% end %>
  </div>

  
  <div class="card-user">
    <h1>My bookings</h1>
    <% @bookings.each do |booking| %>
      <p>Date: <%= booking[:date] %></p>
      <p>Description: <%= booking[:description] %></p>
      <p><%= link_to 'More details', booking_path(booking) %></p>
    <% end %>
  </div>

</div>



