<div class="banner" >
  <div class="container">
    <h1>Adopt <br> a <strong>doggie</strong></h1>
    <p>AVOID THE HASSLE</p>
    <% if current_user %>
      <p><%= link_to "GET STARTED, FIND A DOGGIE !", dogs_path, class: "btd-indw"%></p>
      <p><%= link_to "ADD YOUR DOGGIE", new_dog_path, class: "btd-indw"%></p>
    <% else %>
      <p><%= link_to "GET STARTED, FIND A DOGGIE !", dogs_path, class: "btd-indw"%></p>
      <p><%= link_to "SIGN YOUR DOGGIE UP !", new_user_session_path, class: "btd-indw"%></p>
      <% end %>
    </div>

  </div>
</div>
<br>
<div class="container">
  <h3> Tip Top <strong>Doggies</strong></h3>
  <div class="cards">
      <% @top_five.each_with_index do |dog, i| %>
        <div class="card-dog">
          <%= cl_image_tag dog.photo, height: 200, width: 100, crop: :fill %>
            <% if @stars[i] %>
              <% @stars[i].round(0).to_i.times do %>
                <i class="fas fa-star"></i>
              <% end %>
            <% end %>
            <% if current_user %>
              <%= link_to dog[:name].upcase, dog_path(dog), class: "links-sessions" %>
            <% else %>
              <%= link_to dog[:name].upcase, preview_dog_path(dog), class: "links-sessions" %>
            <%end%>
        </div>
      <% end %>
  </div>
  <br><div class="go-to">
    <%= link_to "MORE DOGGIES", dogs_path, class: "btd-yel" %>
  </div>
</div>

