<div class="banner" >
  <div class="container">
    <h1>Adopt  a <strong>Doggie</strong> :
      <br>For a few hours, a day... <br>or more ; )
    </h1><br>
    <% if current_user %>
      <p><%= link_to "MEET OUR DOGGIES !", dogs_path, class: "btd-indw"%>
      <%= link_to "REGISTER YOUR OWN", new_dog_path, class: "btd-wind"%></p>
    <% else %>
      <p><%= link_to "GET STARTED, FIND A DOGGIE !", dogs_path, class: "btd-indw"%>
      <%= link_to "REGISTER YOUR DOGGIE !", new_user_session_path, class: "btd-wind"%></p>
      <% end %>
    <br></div>

  </div>
</div>
<br>
<div class="container">
  <h3> Tip Top <strong>Doggies</strong></h3>
  <div class="cards">
      <% @top_five.each_with_index do |dog, i| %>
        <div class="card-dog">
          <%= cl_image_tag dog.photo, height: 200, width: 100, crop: :fill %>
            <% if @stars[i] %>
              <% @stars[i].round(0).to_i.times do %>
                <i class="fas fa-star"></i>
              <% end %>
            <% end %>
            <% if current_user %>
              <%= link_to dog[:name].upcase, dog_path(dog), class: "links-sessions" %>
            <% else %>
              <%= link_to dog[:name].upcase, preview_dog_path(dog), class: "links-sessions" %>
            <%end%>
        </div>
      <% end %>
  </div>
  <br><div class="go-to">
    <%= link_to "MORE DOGGIES", dogs_path, class: "btd-yel" %>
  </div>
</div>

